PORT=5000
LM_STUDIO_BASE_URL=http://127.0.0.1:1234/v1
LM_STUDIO_API_KEY=lm-studio
LM_STUDIO_MODEL=local-model
NODE_ENV=development
DATABASE_URL=mongodb://localhost:27017/profitconnectDB
GEMINI_API_KEY=AQ.Ab8RN6KTC_Qj8jGTAmaQG-SJ3BJxQM6-qcv2tRr9fpzIiUU75A
FALLBACK_API_KEY=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
FALLBACK_BASE_URL=https://api.openai.com/v1
FALLBACK_MODEL=gpt-4o-mini
JWT_SECRET=profit_connect_super_secret_key_2026_amen
JWT_EXPIRE=7d

# EmailJS - لإرسال البريد الإلكتروني ( إعادة تعيين كلمة المرور )
# Service ID من EmailJS ( emailjs.com → Email Services )
EMAILJS_SERVICE_ID=service_t948pyk
# Public Key من EmailJS ( emailjs.com → Account → API Keys )
EMAILJS_PUBLIC_KEY=bIZQeE78a8NkmVsRD
EMAILJS_PRIVATE_KEY=EOMfvPvX-Dse00p6CH5ws
# اسم القالب في EmailJS ( يجب أن يحتوي على متغيرات: to_name, reset_code, to_email )
EMAILJS_RESET_TEMPLATE=template_pogmbiw