node_modules/
.env
logs/
.DS_Store
coverage/
npm-debug.log
dist/

# Ignore uploaded files
uploads/avatars/*
!uploads/avatars/.gitkeep
uploads/posts/*
!uploads/posts/.gitkeep
!uploads/posts/videos/
uploads/posts/videos/*
!uploads/posts/videos/.gitkeep
